In [47]:
import pandas as pd
import kaggle
kaggle.api.authenticate()

In [48]:
kaggle.api.dataset_download_files('gabrielsantello/wholesale-and-retail-orders-dataset', path='.', unzip=True)

Dataset URL: https://www.kaggle.com/datasets/gabrielsantello/wholesale-and-retail-orders-dataset

In [49]:
# import zipfile
# zip_ref = zipfile.ZipFile('freelance.zip')
# zip_ref.extractall()
# zip_ref.close()

In [50]:
df = pd.read_csv('orders.csv', na_values=['Not Available', 'unknown'] ) 
df.head(1)

,Customer ID,Customer Status,Date Order was placed,Delivery Date,Order ID,Product ID,Quantity Ordered,Total Retail Price for This Order,Cost Price Per Unit
0,579,Silver,01-Jan-17,07-Jan-17,123002578,220101400106,2,92.6,20.7

In [51]:
df['Customer Status'].unique()

array(['Silver', 'SILVER', 'Gold', 'GOLD', 'PLATINUM', 'Platinum'],
      dtype=object)

In [52]:
df['Quantity Ordered'].unique()

array([ 2,  1,  3,  8,  4,  6,  5,  7,  9, 10], dtype=int64)

In [53]:
#Renaming Columns
df = df.rename(columns={'Customer ID':'ID', 'Customer Status':'status','Order ID':'order_id','Quantity Ordered':'quantity','Total Retail Price for This Order':'price','Cost Price Per Unit':'price per unit'})

In [54]:
df.head(1)

,ID,status,Date Order was placed,Delivery Date,order_id,Product ID,quantity,price,price per unit
0,579,Silver,01-Jan-17,07-Jan-17,123002578,220101400106,2,92.6,20.7

In [55]:
df.columns = df.columns.str.lower()

In [56]:
df.head()

,id,status,date order was placed,delivery date,order_id,product id,quantity,price,price per unit
0,579,Silver,01-Jan-17,07-Jan-17,123002578,220101400106,2,92.6,20.70
1,7574,SILVER,01-Jan-17,05-Jan-17,123004074,210201000009,1,21.7,9.95
2,28861,Gold,01-Jan-17,04-Jan-17,123000871,230100500068,1,1.7,0.80
3,43796,Gold,01-Jan-17,06-Jan-17,123002851,220100100633,1,47.9,24.05
4,54673,Gold,01-Jan-17,04-Jan-17,123003607,220200200043,1,36.9,18.30

In [57]:
df.columns = df.columns.str.replace(' ','_')

In [58]:
df.head()

,id,status,date_order_was_placed,delivery_date,order_id,product_id,quantity,price,price_per_unit
0,579,Silver,01-Jan-17,07-Jan-17,123002578,220101400106,2,92.6,20.70
1,7574,SILVER,01-Jan-17,05-Jan-17,123004074,210201000009,1,21.7,9.95
2,28861,Gold,01-Jan-17,04-Jan-17,123000871,230100500068,1,1.7,0.80
3,43796,Gold,01-Jan-17,06-Jan-17,123002851,220100100633,1,47.9,24.05
4,54673,Gold,01-Jan-17,04-Jan-17,123003607,220200200043,1,36.9,18.30